table {
  width: 100%;
}
.crud-container {
  height: 100%;
  padding: 30px;
  background-color: #F1F5FB;
}
.header {
  background-color: white;
  &__title-crud {
    padding: 2rem 3rem;
    font-size: 2rem;
    font-weight: 700;
    color: #063777
  }
  &__buttons {
    padding: 0 3rem 2rem;
    display: flex;
    justify-content: space-between;

  }
}
.search-field {
  width: 500px;
}
.product-stock {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  height: 20px;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}
.good-stock {
  width: 80%;
  background-color: green;
}
.bad-stock {
  width: 80%;
  background-color: red;
}
.regular-stock {
  width: 80%;
  background-color: #FFDF01;
}
